.Synth--container {
    position: relative;
    width: 808px;
    background-color: #f9f9f0;
    margin: 0 auto;
    margin-top: 16px;
    padding: 40px 0;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.Synth--label {
    transform: rotate(-90deg);
    position: absolute;
    font-family: Nunito;
    font-size: 12px;
    left: 60px;
    top: 80px;
    color: #333;
}