.TrackPad--container {
    background-color: #CCC;
    height: 108px;
    width: 592px;
    margin: 0 auto;
    border-radius: 12px;
    transition: background-color .65s ease;
}

.TrackPad--container.active {
    background-color: rgb(76, 170, 253);
    animation: hum 1.3s infinite;
    animation-delay: 0.65s;
}

@keyframes hum {
    0%{
        background-color: rgb(76, 170, 253);
    }
    50% {
        background-color: rgb(128, 193, 250);
    }
    100%{
        background-color: rgb(76, 170, 253);
    }
}