.SquareBacklitButton--button {
    position: relative;
    cursor: pointer;
    font-family: monospace;
    word-wrap: break-word;
    text-transform: uppercase;
    padding: 6px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background-color: rgb(238, 237, 226);
    margin-left: 8px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease-out;
}

.SquareBacklitButton--button.enabled {
    background-color: rgb(255, 248, 151);
}

.SquareBacklitButton--icon {
    position: absolute;
    top: 8px;
    left: 8px;
    user-select: none;
    height: 32px;
}

.SquareBacklitButton--button.small {
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.SquareBacklitButton--button.small .SquareBacklitButton--icon {
    top: 4px;
    left: 4px;
    height: 24px;
}